body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: space-between;
}

.lcd-display {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    background: #111;
    color: #0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.key {
    font-weight: bold;
    background-color: #555;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.delete {
    grid-column: span 3;
    background-color: #d9534f;
}

#controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.control-button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
}

.arm {
    background-color: #d9534f;
}

.disarm {
    background-color: #5cb85c;
}

.settings {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #777;
    border: none;
    color: #fff;
}

.menu.hidden {
    display: none;
}

.menu {
    background: #444;
    padding: 20px;
    color: white;
    border-radius: 5px;
}
